<app-header></app-header>

<div class="container mt-4" style="max-width: 700px;">
  <div class="border rounded-3 p-3 mb-2 bg-light">
    <h5 class="mb-0 fw-semibold text-dark text-start">
      REGISTRAR ESTUDIANTE
    </h5>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">

      <form (ngSubmit)="guardar()">

        <!-- Documento -->
        <div class="mb-3">
          <label class="form-label">Documento</label>
          <input type="text" class="form-control" name="documento" [(ngModel)]="estudiante.identificationNumber"
            #documento="ngModel" required [class.is-invalid]="documento.invalid && enviado" />
          <div class="invalid-feedback">Debe llenar este campo</div>
        </div>

        <!-- Nombre / Apellido -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="estudiante.firstName" #nombre="ngModel"
              required [class.is-invalid]="nombre.invalid && enviado" />
            <div class="invalid-feedback">Debe llenar este campo</div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control" name="apellido" [(ngModel)]="estudiante.lastName"
              #apellido="ngModel" required [class.is-invalid]="apellido.invalid && enviado" />
            <div class="invalid-feedback">Debe llenar este campo</div>
          </div>
        </div>

        <!-- Email / Teléfono -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="estudiante.email" #email="ngModel"
              required [class.is-invalid]="email.invalid && enviado" />
            <div class="invalid-feedback">Debe llenar este campo</div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Teléfono</label>
            <input type="text" class="form-control" name="telefono" [(ngModel)]="estudiante.phoneNumber"
              #telefono="ngModel" required [class.is-invalid]="telefono.invalid && enviado" />
            <div class="invalid-feedback">Debe llenar este campo</div>
          </div>
        </div>

        <!-- Programa -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Programa</label>
            <select class="form-select" name="programa" [(ngModel)]="estudiante.academicProgram" #programa="ngModel"
              required [class.is-invalid]="programa.invalid && enviado">
              <option value="">Seleccione un programa</option>
              <option value="Ingeniería de Sistemas">Ingeniería de Sistemas</option>
              <option value="Derecho">Derecho</option>
              <option value="Administración">Administración</option>
            </select>
            <div class="invalid-feedback">Debe seleccionar un programa</div>
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Edad</label>
            <input type="text" class="form-control" name="edad" [(ngModel)]="estudiante.age"
              #telefono="ngModel" required [class.is-invalid]="telefono.invalid && enviado" />
            <div class="invalid-feedback">Debe llenar este campo</div>
          </div>
        </div>

        <!-- Botones -->
        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-primary" [disabled]="guardando">
            Guardar
          </button>

          <button type="button" class="btn btn-outline-danger" (click)="cancelar()">
            Cancelar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>

<!-- MODAL ÉXITO -->
<div class="modal fade" id="modalExito" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">

      <!-- Header azul -->
      <div class="modal-header text-white" style="background-color:#0a2540;">
        <h5 class="modal-title">Registro guardado</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <!-- Body -->
      <div class="modal-body text-center">
        <p class="mb-1 fw-semibold">
          El estudiante fue registrado con éxito
        </p>
        <small class="text-muted">
          La información se guardó correctamente
        </small>
      </div>

      <!-- Footer -->
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary px-4" (click)="irALista()">
          Aceptar
        </button>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>