.form-container {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full {
  width: 100%;
}

.acciones-form {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
