
<footer class="mt-5 text-white" style="background-color:#023280;">
  <div style="width:100%; height:2px; background-color: orange;"></div>
  <div class="container py-5">

    <div class="row gy-4">

      <!-- Columna 1 -->
      <div class="col-md-3">
        <h6 class="border-start border-warning ps-3 mb-3">
          Entidades del sector
        </h6>
        <ul class="list-unstyled small opacity-75">
          <li>Ministerio de Educación Nacional</li>
          <li>ICFES</li>
          <li>Minciencias</li>
          <li>ICETEX</li>
          <li>Contraloría General</li>
          <li>Procuraduría General</li>
          <li>Gobierno en línea</li>
        </ul>
      </div>

      <!-- Columna 2 -->
      <div class="col-md-3">
        <h6 class="border-start border-warning ps-3 mb-3">
          Atención al ciudadano
        </h6>
        <ul class="list-unstyled small opacity-75">
          <li>Transparencia y acceso a la información</li>
          <li>Pagos en línea</li>
          <li>Preguntas frecuentes</li>
          <li>PQRS</li>
          <li>Protección de datos</li>
          <li>Glosario</li>
        </ul>
      </div>

      <!-- Columna 3 -->
      <div class="col-md-3">
        <h6 class="border-start border-warning ps-3 mb-3">
          Información general
        </h6>
        <ul class="list-unstyled small opacity-75">
          <li>Reglamento estudiantil</li>
          <li>Calendario académico</li>
          <li>Política de datos</li>
          <li>Derechos de autor</li>
          <li>Informes de gestión</li>
        </ul>
      </div>

      <!-- Columna 4 -->
      <div class="col-md-3">
        <h6 class="border-start border-warning ps-3 mb-3">
          Servicios
        </h6>
        <ul class="list-unstyled small opacity-75">
          <li>Bienestar universitario</li>
          <li>Campus virtual</li>
          <li>Recursos educativos</li>
          <li>Biblioteca</li>
          <li>Pagos en línea</li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Franja inferior -->
  <div class="text-center py-3 small opacity-75" style="background-color:#01265f;">
    © 2026 · Sistema de Gestión de Estudiantes · Todos los derechos reservados
  </div>

</footer>
